DATABASE_URL="postgresql://postgres.xxxx:[PASSWORD]@aws-1-us-east-1.pooler.supabase.com:5432/postgres"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.xxxx.supabase.co:5432/postgres"
JWT_SECRET="sua_chave_secreta_jwt"
JWT_EXPIRES_IN="7d"
PORT=3001
NODE_ENV=production
FRONTEND_URL="https://nttdevicecontrol.web.app"
ALLOWED_DOMAINS="@grupobimbo.com,@global.nttdata.com,@gbsupport.net,@nttdata.com,@pasqualisolution.com.br"
